{% extends "main/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

    <div class="page-title" style="background-image: url({%static 'images/himoz.jpg'%})">
        <div class="container">
            <h1>Товары</h1>
            <div class="polosonka">
                <ul>
                    <li><a href="{% url 'main:index'%}">Главная</a></li>
                    <li><span>Товары</span></li>
                </ul>
            </div>
        </div>
    </div>


    <button class="btn">Категории</button>
    <div class="dropdown">
      <button class="btn" style="border-left:1px solid #81ae64">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <ul class = "widget-list">
            <li {% if not category %} class="selected" {% endif %}>
                <a href="{% url "main:product_list" %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>

    
    <h1>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
    <div class="row">
    {% for product in products %}
    
        <div class = "product-item col-lg-4">
            <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="100%">
                <div class="product-list">
                    <div class="info">
                        <h3 href="">{{ product.name }}</h3><br>
                    </div>
                    <span class="price">
                        {{ product.price }} Р
                    </span>
                </div>
            </a>
        </div>
    
    {% endfor %}
    </div>


{% endblock %}