{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Контакты
{% endblock %}

{% block content %}

             <div class="page-title" style="background-image: url({%static 'images/himoz.jpg'%})">
                <div class="container">
                    <h1>Контакты</h1>
                    <div class="polosonka">
                        <ul>
                            <li><a href="{% url 'main:index'%}">Главная</a></li>
                            <li><span>Контакты</span></li>
                        </ul>
                    </div>
                </div>
            </div>

 <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                                <div class="our-team">
                                    <h3 class="bottom-line">Контакты</h3>
                                    <ul type="circle">
                                        <li>Телефон: 8 (924)3063706</li>
                                        <li>Email: gelius-dv@gmail.com</li>
                                        <li>Адрес: ул. Серышева 22, Хабаровск, Хабаровский край, 680000</li>
                                        <li>Время работы: с 10:00 до 20:00</li>
                                    </ul>

                                </div>

                        </div>

                        </div>
                    </div>
                </div>

{% endblock %}
