{% extends 'main/base.html' %}
{% load static %}
{% block title %}
О компании
{% endblock %}

{% block content %}

             <div class="page-title" style="background-image: url({%static 'images/himoz.jpg'%})">
                <div class="container">
                    <h1>О компании</h1>
                    <div class="polosonka">
                        <ul>
                            <li><a href="{% url 'main:index'%}">Главная</a></li>
                            <li><span>О компании</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <h3>Интернет-магазин клининга Гелиус ДВ приветствует Вас!</h3>
                <p>Наша компания - официальный дилер компании "Vortex" на Дальнем Востоке. Vortex - один из лидеров по производству моющих и дезинфицирующих средств на рынке России и Стран СНГ. Мы предлагаем широкий ассортимент и высокое, стабильное качество продукции. При изготовлении используется качественное сырье ведущих мировых производителей, благодаря чему достигается высокая эффективность и стабильность продукции от партии к партии. Благодаря накопленным знаниям и опираясь на новейшие научные достижения, команда химиков ведет постоянную работу над повышением эффективности существующих рецептур и запуском инновационных продуктов</p>
                <div class="row items">              

                </div>
            </div>
        </div>

{% endblock %}
