{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}

 <meta name="FloriShop" content="Онлайн-магазин профессиональных товаров для клининга">

 <div class="main-priv margin">
    <div class="container">
                        
        <h3>Интернет-магазин клининга Гелиус ДВ приветствует Вас!</h3>                            

        </div>
    <div class="pic-box">
        <img class="main-pic" src="{%static 'images/main.png'%}" alt="FLoriShop">
    </div>
    <div class="pic-qwer-box">
        <img class="qwer-pic" src="{%static 'images/qwer.png'%}" alt="FLoriShop">
    </div>

                    </div>
                </div>

            </main>

{% endblock %}